@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #171717;
  --accent: #689d6a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-default: var(--font-default), sans-serif;
  --font-primary: var(--font-primary), serif;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-default);
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: black;
  }
  button {
    all: unset;
    cursor: pointer;
  }
  button:focus,
  button:focus-visible,
  button:active {
    outline: none !important;
    box-shadow: none !important;
  }

  input {
    @apply appearance-none outline-none ring-0 focus:ring-0 focus:outline-none;
  }
}
@layer components {
  .input-wrapper {
    @apply flex flex-col gap-1 mb-[12px];

    & > label {
      @apply font-medium text-15;
    }
    .input-trigger {
      @apply w-full h-[35px] px-1 border flex items-center gap-[8px] rounded-[4px] data-[placeholder]:text-gray-500/90;
    }
    .input-trigger > :last-child {
      @apply size-full text-14;
    }
    & > .error {
      @apply text-red-500 text-xs font-medium;
    }
  }
}
@utility text-* {
  --value: --value(integer);
  font-size: clamp(
    calc(var(--value) * 0.8px),
    5.985vw + 1.212rem,
    /* 478 - 1280 */ calc(var(--value) * 1px)
      /* value * 1px --> text-40 --> 40px */
  );
  line-height: 1;
  letter-spacing: 0%;
}

.loader {
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--accent);
  animation: prixClipFix 4s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
