@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #171717;
  --accent: #689d6a;
  --primary: #33aaa4;
  /* --primary-100: #33aaa4; */
  /* --primary-200: #33aaa4; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  /* --color-primary-100: var(--primary-100); */
  /* --color-primary-200: var(--primary-200); */
  --font-default: var(--font-default), sans-serif;
  --font-primary: var(--font-primary), serif;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-default);
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--foreground);
  }
  button {
    all: unset;
    cursor: pointer;
  }
  button:focus,
  button:focus-visible,
  button:active {
    outline: none !important;
    box-shadow: none !important;
  }

  input,
  textarea {
    @apply appearance-none outline-none ring-0 focus:ring-0 focus:outline-none disabled:cursor-not-allowed;
  }
}

/* INPUT */
.input-wrapper {
  @apply flex flex-col gap-1 mb-[12px];

  & > label {
    @apply font-medium text-15;
  }
  &:has(input:required) > label::after,
  &:has(textarea:required) > label::after,
  &:has([data-required]) > label::after {
    content: " *";
    color: red;
  }
  & > .error {
    @apply text-red-500 text-xs font-medium;
  }
}

.input-trigger {
  @apply w-full h-[35px] px-[8px] cursor-pointer border flex items-center gap-[8px] rounded-[4px];
  @apply focus-within:border-primary;
}
.input-trigger:has(input:disabled),
.input-trigger:has(.input:disabled),
.input-trigger:has([data-disabled]) {
  @apply cursor-not-allowed! opacity-60!;
}
input,
.input {
  @apply size-full text-14;
  @apply data-[placeholder]:text-gray-500/90 *:data-[placeholder]:text-gray-500/90;
}
/* END INPUT */

.loader {
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid var(--accent);
  animation: prixClipFix 4s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@utility container {
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
  padding-inline: clamp(1rem, 1.5vw, 2rem);
}
@utility text-* {
  --value: --value(integer);
  font-size: clamp(
    calc(var(--value) * 0.8px),
    5.985vw + 1.212rem,
    /* 478 - 1280 */ calc(var(--value) * 1px)
      /* value * 1px --> text-40 --> 40px */
  );
  line-height: 1;
  letter-spacing: 0%;
}
